.gallery-image{
    height: 310px;
}
@media (max-width: 1249px){
    .gallery-image{
        height: 230px;
    }
}
@media (max-width: 1024px){
    .gallery-image{
        height: 310px;
    }
}
@media (max-width: 400px){
    .gallery-image{
        height: 230px;
    }
}