@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Norms";
  src: url('./assests/font/TTNorms-Regular.otf');
}

body {
  margin: 0;
  font-family: 'TT Norms', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}
.primary-bg{
  background-color: #f7f7f7;
}
.primary-brown{
  background-color: #8F6445;
}
:focus-visible{
  outline: unset;
}
/* Lightbox */
.yarl__container {
  background-color: rgba(0, 0, 0, 0.8);
}
.single-lightbox .yarl__button.yarl__navigation_prev,
.single-lightbox .yarl__button.yarl__navigation_next {
  display: none;
}